{{>adminHeader}}
<div class='bg-gray-100 h-full pt-[20px]'>
    <div class='flex flex-row'>
        <!-- Left sidebar -->
        <div class='bg-white shadow h-[0%] w-[12.5%] rounded-lg my-6 ml-[10px]'>
            <div class='p-4'>
                <h2 class='text-lg font-bold mb-4'>Manage</h2>
                <ul class='space-y-2'>
                    <li><a href='#' class='text-gray-700 hover:text-blue-500'><i
                                class='fa-solid pr-[10px] fa-newspaper'
                            ></i>Posts</a></li>
                    <li><a href='#' class='text-gray-700 hover:text-blue-500'><i
                                class='fa-solid pr-[10px] fa-tag'
                            ></i>Tags</a></li>
                    <li><a href='#' class='text-gray-700 hover:text-blue-500'><i
                                class='fa-solid pr-[10px] fa-user'
                            ></i>Users</a></li>
                    <li><a href='#' class='text-gray-700 hover:text-blue-500'><i
                                class='fa-solid pr-[10px] fa-users-gear'
                            ></i>Staffs</a></li>
                </ul>
            </div>
        </div>

        <!-- Main content area -->
        <div class='w-[87.5%]'>
            <div class='w-full px-4 py-6'>
                <div class='bg-white shadow rounded-lg p-4'>
                    <h2 class='text-2xl font-bold mb-4'>Pending posts</h2>
                    <div class='flex flex-col'>
                        <div class='overflow-x-auto overflow-y-auto max-h-96 sm:-mx-6 lg:-mx-8'>
                            <div class='inline-block min-w-full py-2 sm:px-6 lg:px-8'>
                                <div class='overflow-hidden'>
                                    <table class='min-w-full text-left text-sm font-light'>
                                        <thead class='border-b font-medium dark:border-neutral-500'>
                                            <tr>
                                                <th scope='col' class='px-6 py-4'>#</th>
                                                <th scope='col' class='px-6 py-4'>Full name</th>
                                                <th scope='col' class='px-6 py-4'>Title</th>
                                                <th scope='col' class='px-6 py-4'>Post date</th>
                                                <th scope='col' class='px-6 py-4'>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class='border-b dark:border-neutral-500'>
                                                <td class='whitespace-nowrap px-6 py-4 font-medium'>1</td>
                                                <td class='whitespace-nowrap px-6 py-4'>Nhat Loi</td>
                                                <td class='whitespace-nowrap px-6 py-4'>dm DHP</td>
                                                <td class='whitespace-nowrap px-6 py-4'>23.4.23</td>
                                                <td class='whitespace-nowrap px-6 py-4'><button><i
                                                            class='fa-regular fa-eye'
                                                        ></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='w-full px-4 py-6'>
                <div class='bg-white shadow rounded-lg p-4'>
                    <h2 class='text-2xl font-bold mb-4'>Approved posts</h2>
                    <div class='flex flex-col'>
                        <div class='overflow-x-auto overflow-y-auto max-h-96 sm:-mx-6 lg:-mx-8'>
                            <div class='inline-block min-w-full py-2 sm:px-6 lg:px-8'>
                                <div class='overflow-hidden'>
                                    <table class='min-w-full text-left text-sm font-light'>
                                        <thead class='border-b font-medium dark:border-neutral-500'>
                                            <tr>
                                                <th scope='col' class='px-6 py-4'>#</th>
                                                <th scope='col' class='px-6 py-4'>Full name</th>
                                                <th scope='col' class='px-6 py-4'>Title</th>
                                                <th scope='col' class='px-6 py-4'>Post date</th>
                                                <th scope='col' class='px-6 py-4'>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class='border-b dark:border-neutral-500'>
                                                <td class='whitespace-nowrap px-6 py-4 font-medium'>1</td>
                                                <td class='whitespace-nowrap px-6 py-4'>Nhat Loi</td>
                                                <td class='whitespace-nowrap px-6 py-4'>dm DHP</td>
                                                <td class='whitespace-nowrap px-6 py-4'>23.4.23</td>
                                                <td class='whitespace-nowrap px-6 py-4'><button><i
                                                            class='fa-regular fa-trash-can'
                                                        ></i></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>