<header class='bg-white py-4'>
    <div class='container mx-auto flex justify-between items-center'>
        <div class='flex items-center pl-[30px]'>
            <a href='/admin/dashboard' class='text-white font-bold text-xl'>
                <img src='/img/logo.png' alt='Logo' class='mr-2 h-16 w-auto' />
                <p class='text-black'>Memory Social</p>
            </a>
        </div>
        <div class='hidden lg:flex lg:items-center lg:w-auto lg:pr-[30px]'>
            <span class='pr-[10px] text-2xl'>
                Hi admin
            </span>
            <button>
                <i class='fa-solid fa-2x fa-arrow-right-from-bracket'></i>
            </button>

        </div>
    </div>
</header>