<div class='relative max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl'>
    <div class='md:flex gap'>
        <div class='md:flex-shrink-0'>
            <img class='w-full object-cover md:h-full md:w-48' src='/img/logo.png' alt='Avatar image' />
        </div>
        <div class='p-8'>
            <a href='#' class='block mt-1 text-lg leading-tight font-semibold text-gray-900 hover:underline'>Full Name</a>
            <p class='mt-2 text-gray-600'>Email Address</p>
            <button class='absolute bottom-0 right-[10px]'><i class='fa-solid fa-user-minus pr-[5px]'></i>Unfollow
            </button>
        </div>
    </div>
</div>