<footer class='bg-gray-800 py-8'>
    <div class='container mx-auto px-4'>
        <div class='grid grid-cols-1 md:grid-cols-3 gap-4'>
            <div>
                <h3 class='text-white font-bold text-lg mb-4'>About Us</h3>
                <p class='text-gray-400 leading-loose'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque nulla non est congue, a
                    luctus turpis tristique. Integer aliquet eros nec sapien maximus, eget gravida nisl faucibus. Duis
                    aliquam dictum dolor, quis lobortis nulla.
                </p>
            </div>
            <div>
                <h3 class='text-white font-bold text-lg mb-4'>Latest Posts</h3>
                <ul class='text-gray-400 leading-loose'>
                    <li><a href='#'>Post 1</a></li>
                    <li><a href='#'>Post 2</a></li>
                    <li><a href='#'>Post 3</a></li>
                    <li><a href='#'>Post 4</a></li>
                    <li><a href='#'>Post 5</a></li>
                </ul>
            </div>
            <div>
                <h3 class='text-white font-bold text-lg mb-4'>Follow Us</h3>
                <ul class='text-gray-400 leading-loose'>
                    <li><a href='#'>Facebook</a></li>
                    <li><a href='#'>Twitter</a></li>
                    <li><a href='#'>Instagram</a></li>
                </ul>
            </div>
        </div>
        <div
            class='border-t border-gray-600 mt-8 pt-8 text-gray-400 text-sm flex flex-col md:flex-row items-center justify-between'
        >
            <p>&copy; 2023 My Blog. All rights reserved.</p>
            <ul class='flex items-center'>
                <li><a href='#' class='mr-6 hover:text-orange-500'>Privacy Policy</a></li>
                <li><a href='#' class='hover:text-orange-500'>Terms of Use</a></li>
            </ul>
        </div>
    </div>
</footer>