<header class='bg-white py-4'>
    <div class='container mx-auto flex justify-between items-center'>
        <div class='flex items-center pl-[30px]'>
            <a href='/' class='text-white font-bold text-xl'>
                <img src='/img/logo.png' alt='Logo' class='mr-2 h-16 w-auto' />
                <p class='text-black'>{{test}}</p>
            </a>
        </div>
        <div class='hidden lg:flex lg:items-center lg:w-auto lg:pr-[30px]'>
            <span class="pr-[10px]">
                <a href="/page/register">
                    {{>button name='Register'}}
                </a>
            </span>
            <a href="/page/login">
                {{>button name='Login'}}
            </a>
        </div>
    </div>
</header>