<div class='bg-gray-100'>
    <div class='flex items-center justify-center py-[50px]'>
        <div class='bg-white rounded-lg shadow-lg p-8 max-w-md w-full mx-auto'>
            <h2 class='text-2xl font-bold mb-8 text-gray-800'>Login to Your Account</h2>

            <form action='#' method='POST' class='space-y-4'>
                <div>
                    <label for='email' class='block text-gray-700 font-bold mb-2'>Email Address</label>
                    <input
                        type='email'
                        name='email'
                        id='email'
                        class='w-full p-2 border border-gray-300 rounded'
                        required
                    />
                </div>
                <div>
                    <label for='password' class='block text-gray-700 font-bold mb-2'>Password</label>
                    <input
                        type='password'
                        name='password'
                        id='password'
                        class='w-full p-2 border border-gray-300 rounded'
                        required
                    />
                </div>
                <div class='grid grid-cols-2 justify-items-stretch gap-5'>
                    <div>
                        <button
                            type='submit'
                            class='bg-blue-500 text-white px-4 py-2 rounded font-medium w-full'
                        >Login</button>
                    </div>
                    <div>
                        <button
                            type='submit'
                            class='bg-white text-black px-4 outline outline-[0.5px] outline-slate-400 py-2 rounded font-medium w-full'
                        ><i class='fa-brands fa-google pr-[6px]'></i>Google</button>
                    </div>
                </div>

            </form>

            <div class='mt-4 text-sm'>
                <p class='text-gray-600'>Don't have an account?
                    <a href='#' class='text-blue-500 font-medium'>Sign up here</a>.</p>
                <p class='text-gray-600 mt-2'>Forgot your password?
                    <a href='#' class='text-blue-500 font-medium'>Click here to reset it</a>.</p>
            </div>

        </div>
    </div>
</div>