<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link
            rel='shortcut icon'
            href='https://img.icons8.com/external-ddara-lineal-color-ddara/64/null/external-woman-laptop-beauty-blogger-influencer-makeup-tutorial-social-life-ddara-lineal-color-ddara.png'
            type='image/x-icon'
        />

        {{! * pure CSS and tailwindCSS link  }}
        <link rel='stylesheet' href='/css/style.css' />
        <title>404 Not Found</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>