<div class='flex flex-wrap p-20'>
    <div class='w-full sm:w-1/2 md:w-1/4 p-4'>
        {{>bookmarkCard}}
    </div>
    <div class='w-full sm:w-1/2 md:w-1/4 p-4'>
        {{>bookmarkCard}}
    </div>
    <div class='w-full sm:w-1/2 md:w-1/4 p-4'>
        {{>bookmarkCard}}
    </div>
    <div class='w-full sm:w-1/2 md:w-1/4 p-4'>
        {{>bookmarkCard}}
    </div>
    <div class='w-full sm:w-1/2 md:w-1/4 p-4'>
        {{>bookmarkCard}}
    </div>
</div>