<div class='bg-gray-100'>

    <!-- Main Section -->
    <main class='container mx-auto py-10'>
        <!-- Change Password Form -->
        <form class='max-w-md mx-auto bg-white shadow-md rounded p-5'>
            <h2 class='text-xl font-bold mb-5'>Change Password</h2>

            <!-- Current Password -->
            <div class='mb-4'>
                <label class='block text-gray-700 font-bold mb-2' for='current-password'>
                    Current Password
                </label>
                <input
                    class='border rounded-lg py-2 px-3 w-full'
                    id='current-password'
                    name='current-password'
                    type='password'
                    required
                />
            </div>

            <!-- New Password -->
            <div class='mb-4'>
                <label class='block text-gray-700 font-bold mb-2' for='new-password'>
                    New Password
                </label>
                <input
                    class='border rounded-lg py-2 px-3 w-full'
                    id='new-password'
                    name='new-password'
                    type='password'
                    required
                />
            </div>

            <!-- Confirm New Password -->
            <div class='mb-6'>
                <label class='block text-gray-700 font-bold mb-2' for='confirm-new-password'>
                    Confirm New Password
                </label>
                <input
                    class='border rounded-lg py-2 px-3 w-full'
                    id='confirm-new-password'
                    name='confirm-new-password'
                    type='password'
                    required
                />
            </div>

            <!-- Submit Button -->
            <button class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'>
                Submit
            </button>
        </form>
    </main>
</div>