<div class='container mx-auto flex flex-col lg:flex-row mt-8'>
    <div class='w-full lg:w-1/5 px-4'>
        <div class='flex space-x-2 pb-[15px]'>
            <a href="/page/new-story">
                {{>button name='New post'}}
            </a>
        </div>
        <div class='bg-white shadow-lg rounded-lg px-4 py-6'>
            <h2 class='text-gray-800 font-bold text-xl mb-4'>Menu</h2>
            <ul class='divide-y divide-gray-300'>
                <li class='py-2'>
                    <a href='/page/profile' class='text-gray-600 hover:text-gray-800'>Profile</a>
                </li>
                <li class='py-2'>
                    <a href='/page/{{user._id}}/saved' class='text-gray-600 hover:text-gray-800'>Bookmarks</a>
                </li>
                <li class='py-2'>
                    <a href='#' class='text-gray-600 hover:text-gray-800'>Notification</a>
                </li>
            </ul>
        </div>
    </div>
    <div class='w-4/5 -mx-4 px-[10px]'>
        <div class="flex flex-col">
            <div class="flex">
                <div class="w-[30%]">
                    <form action="#" method="get" class="relative">
                        <input class="block w-full py-2 px-4 rounded-lg bg-white border-2 border-gray-300 placeholder-gray-500 focus:outline-none focus:border-blue-500" name="search" placeholder="Search">
                        <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                
                <div class="flex items-center menu-container overflow-x-scroll no-wrap ml-[20px] w-[65%]">
                    <div class="menu flex gap-10">
                        <a href="#" class="flex justify-center items-center menu-item">For you</a>
                        <a href="#" class="flex justify-center items-center menu-item">Following</a>
                        <a href="#" class="flex justify-center items-center menu-item">Technology</a>
                        <a href="#" class="flex justify-center items-center menu-item">Cooking</a>
                        <a href="#" class="flex justify-center items-center menu-item">Other Tag</a>
                        <a href="#" class="flex justify-center items-center menu-item">Other Tag</a>
                        <a href="#" class="flex justify-center items-center menu-item">Other Tag</a>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap -mx-4 pt-[20px]">
                {{#each posts as |item|}}
                    <div class='w-full md:w-1/3 px-4 mb-8'>
                        {{>postCard id=item._id owner=item.owner title=item.title content=item.content thumbnail=item.thumbnail date=item.createdAt}}
                    </div>
                {{/each}}
            </div>
        </div>
        
    </div>
</div>